/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo */
}

.registration-form {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff; /* Color del formulario */
    border-radius: 10px;
    padding: 40px; /* Aumenté el espaciado para hacerlo más grande */
    max-width: 900px; /* Ajustamos el ancho máximo */
    margin: 0 auto;
}

.left-half,
.right-half {
    flex: 1;
    padding: 40px; /* Aumentamos el padding para agregar más espacio */
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px; /* Aumentamos el tamaño del padding */
    margin-bottom: 15px; /* Incrementamos el espacio entre los campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Aumentamos el tamaño de fuente */
}

/* Estilos para el botón de registro */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Color del botón */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para los botones de redes sociales */
.social-button {
    display: block;
    padding: 8px 12px; /* Reducimos el padding vertical y horizontal */
    margin-top: 15px; /* Aumentamos el espacio entre los botones */
    margin-bottom: 15px; /* Aumentamos el espacio entre los botones */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    width: 107%; /* Cambiamos el ancho a automático para que se ajuste al contenido */
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


.social-button:hover {
    background-color: #ddd;
}

/* Estilos para los botones de redes sociales */
.google,
.apple,
.facebook {
    display: block;
    padding: 10px 12px; /* Mantenemos el padding vertical y horizontal */
    margin-top: 20px; /* Aumentamos el espacio entre los botones */
    margin-bottom: 20px; /* Aumentamos el espacio entre los botones */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease;
    width: 100%; /* Hacemos los botones anchos */
}

/* Estilos específicos para cada botón de red social */
.google {
    border-bottom: 2px solid #db4a39; /* Línea inferior de color de Google */
    background-color: #db4a39; /* Color de fondo de Google */
    color: #fff; /* Color del texto */
}

.apple {
    border-bottom: 2px solid #000000; /* Línea inferior de color de Apple */
    background-color: #000000; /* Color de fondo de Apple */
    color: #fff; /* Color del texto */
}

.facebook {
    border-bottom: 2px solid #3b5998; /* Línea inferior de color de Facebook */
    background-color: #3b5998; /* Color de fondo de Facebook */
    color: #fff; /* Color del texto */
}
